@import "tailwindcss";

* {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.dark ::-webkit-scrollbar {
  width: 10px;
}
.dark ::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 5px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #777;
}